<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="js/script.js" type="text/javascript"></script>
    <link rel="stylesheet" href="css/style.css" />
    <title>Test</title>
  </head>
  <body ondragstart="return false">
    <form action="/" method="post" enctype="multipart/form-data" name = "vidiotest" id= "vidiotest">
      <label>Upload video URL:</label>
      <br/>
      name : <input type="text" name="username">
      <br/>
      file :<input type="file" name="myfile1">
      <br/>
      <input type="button" id="videoB" value="Upload" >
    </form>
    <br/>
  </body>
</html>
