
@font-face{
	font-family: "GodoM";
	src: url(GodoM.otf)
	format("truetype");
}

body{
	font-family:GodoM;
	font-size:12pt; 
	color: black;
	background-image: url('../images/ssneaks.png');

}
#upperHtml{
	background:url("../images/ssneaks.png") no-repeat center center fixed;
	-webkit-background-size: cover;-moz-background-size: cover;-o-background-size: cover;background-size: cover; 

}
.navBar{
	background: white;
	/*background-image: url('../images/2bg.png');*/
	border: none;
	border-bottom: 1px solid rgb(102, 102, 102);
	border-radius: 0px;
	position: fixed;
	z-index: 100;
	width: 100%;
}
.logoImg{
	width: 100px;
}
#mainHtml{
	padding:40px;
	background-color: white;
	padding-top: 50px;
	background-image: url('../images/2bg.png');
}

#TimeList{
	overflow:auto; 
	display: flex; flex-direction: column;
	padding:0px 0px 0px 0px;
	/*margin: 10px;*/
/*	background-color:black;*/ 
	color: white;
}
.btnClass{
	margin:5px;
	box-shadow: 3px rgb(102, 102, 102);
	color:black;
	background: white;
    width:95%;
    text-align:center;
}
.embed-responsive-16by9{
	padding: 0px;
	/*background: #666;*/
	border: 1px solid #666;
	background: white;
}
/*.myVideo{
	padding: 5px 5px 5px 5px;
	background: #666;
	border: 1px solid #666;
	background: none;
}*/
h2{
	text-decoration: underline black;
	font-size:30pt; 
	padding-top: 0;
	margin-top: 0;
}
h3{
	color: black;
	text-align: left;
}
h1{
	font-size: 20px;
}
.thumbNail{
	margin-top: 10pt;
}
.titleText{
	font-family:Yanolja;
	margin: 3px;

	/*margin-bottom: 20px;*/
}
/*#keyword{
	margin: 0, auto;
}*/
#clickButton{
	margin: 5px;
}
