body{
	font-size:12pt; 
	/*height:100%;*/
	background-color:rgba(31, 50, 62, 1); 
	color:white;
}
#mainHtml{
	/*height:100%; */
	padding:50px;
	
	background-color:black; 
}
#TimeList{
	padding:0px 0px 0px 0px;
	/*margin: 10px;*/
	background-color:black; 
}
.btnClass{
	margin:5px;
	border:1px solid rgb(102, 102, 102);
	color:white;
	background:#666;
    width:95%;
    text-align:center; 
}
